[submodule "SharesPool/sharespool_foundry/lib/forge-std"]
	path = SharesPool/sharespool_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "SharesPool/sharespool_foundry/lib/openzeppelin-contracts"]
	path = SharesPool/sharespool_foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "bridgeContracts/lib/forge-std"]
	path = bridgeContracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
